---

---

<select
    name="MaterialArchive__noTable__sbv__SubjectSelect"
    id="MaterialArchive__noTable__sbv__SubjectSelect"
    disabled
    jc-subjects
>
    <option value="" selected="">[Select JC Subject]</option>
    <option value="0" disabled></option>
    <option value="125" aria-label="Applied Technology">Applied Technology</option>
    <option value="42" aria-label="Business Studies">Business Studies</option>
    <option value="106" aria-label="Classics">Classics</option>
    <option value="27" aria-label="Engineering">Engineering</option>
    <option value="2" aria-label="English">English</option>
    <option value="10" aria-label="French">French</option>
    <option value="5" aria-label="Geography">Geography</option>
    <option value="11" aria-label="German">German</option>
    <option value="137" aria-label="Graphics">Graphics</option>
    <option value="4" aria-label="History">History</option>
    <option value="52" aria-label="Home Economics">Home Economics</option>
    <option value="1" aria-label="Irish">Irish</option>
    <option value="83" aria-label="Irish T1">Irish T1</option>
    <option value="13" aria-label="Italian">Italian</option>
    <option value="3" aria-label="Mathematics">Mathematics</option>
    <option value="46" aria-label="Music">Music</option>
    <option value="220" aria-label="Religious Education">Religious Education</option>
    <option value="57" aria-label="Science">Science</option>
    <option value="12" aria-label="Spanish">Spanish</option>
    <option value="126" aria-label="Wood Technology">Wood Technology</option>
    <option value="7" aria-label="Ancient Greek">Ancient Greek</option>
    <option value="41" aria-label="Art Craft Design">Art Craft Design</option>
    <option value="218" aria-label="Civic Social and Political Education"
        >Civic Social and Political Education</option
    >
    <option value="8" aria-label="Classical Studies">Classical Studies</option>
    <option value="81" aria-label="Environ & Social Studies">Environ &amp; Social Studies</option>
    <option value="6" aria-label="Latin">Latin</option>
    <option value="47" aria-label="Material Technology (Wood)">Material Technology (Wood)</option>
    <option value="54" aria-label="Metalwork">Metalwork</option>
    <option value="48" aria-label="Technical Graphics">Technical Graphics</option>
    <option value="65" aria-label="Technology">Technology</option>
</select>

<style>
    select {
        font-family: Arial;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
        user-select: none;
        box-shadow: inset 0px 0px 2px black;
    }
</style>
