---

---

<select
    name="MaterialArchive__noTable__sbv__SubjectSelect"
    id="MaterialArchive__noTable__sbv__SubjectSelect"
    disabled
    lb-subjects
>
    <option value="" selected="">[Select LCA Subject]</option>
    <option value="0" disabled></option>
    <option value="848" aria-label="Active Leisure Studies">Active Leisure Studies</option>
    <option value="832" aria-label="Agriculture / Horticulture">Agriculture / Horticulture</option>
    <option value="846" aria-label="Childcare / Community Care">Childcare / Community Care</option>
    <option value="835" aria-label="Crafts & Design">Crafts &amp; Design</option>
    <option value="836" aria-label="Engineering">Engineering</option><option
        value="810"
        aria-label="English and Communication">English and Communication</option
    >
    <option value="10" aria-label="French">French</option><option
        value="66"
        aria-label="Gaeilge Chumarsáideach">Gaeilge Chumarsáideach</option
    >
    <option value="11" aria-label="German">German</option>
    <option value="845" aria-label="Graphics And Construction Studies"
        >Graphics And Construction Studies</option
    >
    <option value="850" aria-label="Hair And Beauty">Hair And Beauty</option>
    <option value="833" aria-label="Hotel / Catering & Tourism"
        >Hotel / Catering &amp; Tourism</option
    >
    <option value="849" aria-label="Information & Communication Tech."
        >Information &amp; Communication Tech.</option
    >
    <option value="13" aria-label="Italian">Italian</option><option
        value="830"
        aria-label="Mathematic Applications">Mathematic Applications</option
    >
    <option value="847" aria-label="Office Admin And Customer">Office Admin And Customer</option>
    <option value="815" aria-label="Social Education">Social Education</option>
    <option value="12" aria-label="Spanish">Spanish</option><option
        value="839"
        aria-label="Technology">Technology</option
    >
</select>

<style>
    select {
        font-family: Arial;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
        user-select: none;
        box-shadow: inset 0px 0px 2px black;
    }
</style>
