---

---

<select
    name="MaterialArchive__noTable__sbv__SubjectSelect"
    id="MaterialArchive__noTable__sbv__SubjectSelect"
    disabled
    lc-subjects
>
    <option value="" selected="">[Select LCE Subject]</option>
    <option value="0" disabled></option>
    <option value="32" aria-label="Accounting">Accounting</option>
    <option value="24" aria-label="Agricultural Science">Agricultural Science</option>
    <option value="7" aria-label="Ancient Greek">Ancient Greek</option>
    <option value="20" aria-label="Applied Mathematics">Applied Mathematics</option>
    <option value="59" aria-label="Arabic">Arabic</option>
    <option value="14" aria-label="Art">Art</option>
    <option value="25" aria-label="Biology">Biology</option>
    <option value="559" aria-label="Bulgarian">Bulgarian</option>
    <option value="33" aria-label="Business">Business</option>
    <option value="22" aria-label="Chemistry">Chemistry</option>
    <option value="8" aria-label="Classical Studies">Classical Studies</option>
    <option value="219" aria-label="Computer Science">Computer Science</option>
    <option value="29" aria-label="Construction Studies">Construction Studies</option>
    <option value="567" aria-label="Croatian">Croatian</option>
    <option value="547" aria-label="Czech">Czech</option>
    <option value="38" aria-label="Danish">Danish</option>
    <option value="562" aria-label="Design & Communication Graphics"
        >Design &amp; Communication Graphics</option
    >
    <option value="17" aria-label="Dutch">Dutch</option>
    <option value="34" aria-label="Economics">Economics</option>
    <option value="27" aria-label="Engineering">Engineering</option>
    <option value="2" aria-label="English">English</option>
    <option value="552" aria-label="Estonian">Estonian</option>
    <option value="49" aria-label="Finnish">Finnish</option>
    <option value="10" aria-label="French">French</option>
    <option value="5" aria-label="Geography">Geography</option>
    <option value="11" aria-label="German">German</option>
    <option value="4" aria-label="History">History</option>
    <option value="96" aria-label="History (Early Modern)">History (Early Modern)</option>
    <option value="98" aria-label="Home Economics S & S">Home Economics S &amp; S</option>
    <option value="551" aria-label="Hungarian">Hungarian</option>
    <option value="1" aria-label="Irish">Irish</option>
    <option value="13" aria-label="Italian">Italian</option>
    <option value="58" aria-label="Japanese">Japanese</option>
    <option value="6" aria-label="Latin">Latin</option>
    <option value="549" aria-label="Latvian">Latvian</option>
    <option value="462" aria-label="Link Modules">Link Modules</option>
    <option value="550" aria-label="Lithuanian">Lithuanian</option>
    <option value="557" aria-label="Maltese">Maltese</option>
    <option value="566" aria-label="Mandarin Chinese">Mandarin Chinese</option>
    <option value="3" aria-label="Mathematics">Mathematics</option>
    <option value="19" aria-label="Modern Greek">Modern Greek</option>
    <option value="67" aria-label="Music">Music</option>
    <option value="225" aria-label="Physical Education">Physical Education</option>
    <option value="21" aria-label="Physics">Physics</option>
    <option value="23" aria-label="Physics & Chemistry">Physics &amp; Chemistry</option>
    <option value="548" aria-label="Polish">Polish</option>
    <option value="568" aria-label="Politics and Society">Politics and Society</option>
    <option value="18" aria-label="Portuguese">Portuguese</option>
    <option value="223" aria-label="Religious Education">Religious Education</option>
    <option value="553" aria-label="Romanian">Romanian</option>
    <option value="99" aria-label="Russian">Russian</option>
    <option value="554" aria-label="Slovakian">Slovakian</option>
    <option value="558" aria-label="Slovenian">Slovenian</option>
    <option value="12" aria-label="Spanish">Spanish</option>
    <option value="39" aria-label="Swedish">Swedish</option>
    <option value="65" aria-label="Technology">Technology</option>
</select>

<style>
    select {
        font-family: Arial;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
        user-select: none;
        box-shadow: inset 0px 0px 2px black;
    }
</style>
