---
---

<p id="notice">
    The 2021 and 2022 examination papers were adjusted to compensate for
    disruptions to learning due to COVID-19. This examination paper does not
    necessarily reflect the same structure and format as the examination
    papers of other years.
    <br/>
    <br/>
    The adjustments to the 2023 examination papers, which are different from
    the adjustments to the 2021 and 2022 examination papers, can be found here.
    <br/>
    <br/>
    When special arrangements are made to deliver examinations to very small
    number of candidates outside of the normal programme of examinations, the
    State Examinations Commission implements security procedures to retain all
    copies of papers used and may need to adapt and/or reuse some of this material
    for future contingency purposes. For this reason such papers are not published.
    This practice applied to the ‘bereavement’ papers of 2019, Junior Cycle,
    LCA and some Leaving Certificate papers of 2020 and for the Deferred examinations
    in 2022 and 2023.
    <br/>
    <br/>
    Please note that there have been recent changes to the syllabus in some subjects.
    In subjects where the syllabus has changed the papers for the years preceding
    the change are shown for reference purposes only, they are not based on the
    current syllabus. For a full list of the syllabus changes please click here
</p>

<style>
  #notice {
	  text-decoration: none;
    color: #000000;
    font-size: 80%;
    font-family: arial, helvetica;
	  font-weight: bold;
  }
</style>