---

---

<select name="MaterialArchive__noTable__sbv__ViewType" id="MaterialArchive__noTable__sbv__ViewType">
  <option value="" selected="">[Select Type]</option>
  <option value="0" disabled></option>
  <option value="exampapers" aria-label="Exam Papers">Exam Papers</option>
  <option value="markingschemes" aria-label="Marking Schemes">Marking Schemes</option>
  <option value="deferredexams" aria-label="Deferred Exam Papers">Deferred Exam Papers</option>
  <option value="deferredmarkingschemes" aria-label="Deferred Exam Marking Schemes">Deferred Exam Marking Schemes</option>
</select>

<style>
    select {
        font-family: Arial;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
        user-select: none;
        box-shadow: inset 0px 0px 2px black;
    }
</style>